# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.DS_Store

# Swift / SPM
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata/

# Misc
.env
*.log
